<form #frm="ngForm" (ngSubmit)="salvar(frm)">

  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Editar Cliente</h1>
    </div>

    <input type="hidden" name="id" ngModel [ngModel]="usuario.id" />

    <div class="ui-g-6 ui-fluid">
      <label>Primeiro Nome</label>
      <input pInputText name="primeiroNome" ngModel [ngModel]="usuario.primeiroNome" [required]="true" />
    </div>

    <div class="ui-g-6 ui-fluid">
      <label>Último Nome</label>
      <input pInputText name="ultimoNome" ngModel [ngModel]="usuario.ultimoNome" [required]="true" />
    </div>

    <div class="ui-g-6 ui-fluid">
      <label>E-mail</label>
      <input pInputText name="email" ngModel [ngModel]="usuario.email" type="email" [required]="true" />
    </div>

    <div class="ui-g-6 ui-fluid">
      <label>CPF</label>
      <p-inputMask name="cpf" mask="999.999.999-99" [required]="true" ngModel [ngModel]="usuario.cpf"></p-inputMask>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Telefone</label>
      <p-inputMask name="telefone" mask="(99) 99999-9999" [required]="true" ngModel [ngModel]="usuario.telefone"></p-inputMask>
    </div>

    <div class="ui-g-12">
      <button type="submit" pButton [disabled]="frm.invalid" label="Salvar"></button>
    </div>
  </div>

</form>